<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>life</title>
  </head>
  <link rel="stylesheet" href="/static/style.css">
  <body>
    <section class="section-1">

        <svg id="menu" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M6 36V33H42V36ZM6 25.5V22.5H42V25.5ZM6 15V12H42V15Z"/></svg>
        <svg id="searchIcon" xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M39.8 41.95 26.65 28.8Q25.15 30.1 23.15 30.825Q21.15 31.55 18.9 31.55Q13.5 31.55 9.75 27.8Q6 24.05 6 18.75Q6 13.45 9.75 9.7Q13.5 5.95 18.85 5.95Q24.15 5.95 27.875 9.7Q31.6 13.45 31.6 18.75Q31.6 20.9 30.9 22.9Q30.2 24.9 28.8 26.65L42 39.75ZM18.85 28.55Q22.9 28.55 25.75 25.675Q28.6 22.8 28.6 18.75Q28.6 14.7 25.75 11.825Q22.9 8.95 18.85 8.95Q14.75 8.95 11.875 11.825Q9 14.7 9 18.75Q9 22.8 11.875 25.675Q14.75 28.55 18.85 28.55Z"/></svg>

        <div id="link_wrapper">
            <a href="#" class="active">Home</a>
            <a href="#">local news</a>
            <a href="#">international news</a>
            <a href="#">Religion</a>

        </div>
        <div id="overlay">
            <div id="search_div">
                <svg id=closeIcon xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path d="M12.45 37.65 10.35 35.55 21.9 24 10.35 12.45 12.45 10.35 24 21.9 35.55 10.35 37.65 12.45 26.1 24 37.65 35.55 35.55 37.65 24 26.1Z"/></svg>
                <input type="text" name="searchBar" placeholder="Enter search">
                <button type="summit" name="button">Go</button>
            </div>
        </div>
          <div class="logo-wrapper">
                <img src="/static/quip.png" class="logo">
          </div>
          <div class="site-name">

          </div>


    </section>
    <section class="section-2">
        <div class="story-summary">
          <h1>Summary</h1>
          <H1>{{user}}</H1>
          <h2> <p>Life is indeed vanity</p> </h2>
        </div>

      <h1>What is life ?</h1>
      <span>
        Life is beautifull to be honest but things break down pretty rapidly in manners that leaves the living in complete awe
        of sweet melodies unending
    Lonely but with redeeming peace , for freedom I make this piece

    Gone are the eerie whispers of torment and tribulation
    With cheeky smiles I watch darkness fade , I see delight
    No longer who I use to ,I’m  reborn
    Forever yielded to the one who LIBRATE
    Like a flow from rich tributaries ,and rhythms  in resonance
    As soothing as an ancient view with breeze that heals
    Endless echoes set me loose . i am more than gratefull indeed

      </span>
      <div class="share">

      </div>

    </section>
    <script type="text/javascript" src="/static/scripts.js">

    </script>
  </body>

</html>
